@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Krona+One&family=Montserrat:wght@400;600&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/* Estilo para a divisão da página */
.container {
  display: flex;
  width: 100%;
  min-height: 100vh; /* Altura mínima de 100% da altura da viewport */
}

.imgWherever /* Foto do Wherever dentro da div left-side */{
  position: fixed; /* Posição fixa */
  top: 0px; /* Distância do topo */
  left: 4%; /* Distância da esquerda */
  margin-top: 10%; /* Margem superior */
  width: 350px; /* Largura da imagem */
  height: auto; /* Mantém a proporção original da imagem */
}

.imgGlobo /* Foto do Globo dentro da div left-side*/{
  position: fixed; /* Posição fixa */
  top: 50px; /* Distância do topo */
  left: 5%; /* Distância da esquerda */
  margin-top: 17%; /* Margem superior */
  width: 250px; /* Largura da imagem */
  height: auto; /* Mantém a proporção original da imagem */
}



/* Estilo para o lado esquerdo */
.left-side {
  flex: 0 0 15vh; /* Define o tamanho do lado esquerdo como 40% da altura da viewport */
  padding-left: 5px; /* Espaçamento interno */
  background-color: white;
  /* animation: ondulacao-esquerda 5s infinite alternate; Aplica a animação de ondulação à esquerda */
  
  }
  
   @keyframes ondulacao-esquerda {
    0% {
      background-color: lightgrey; /* Cor inicial */
    }
    100% {
      background-color: #191b52; /* Cor final */
    }
  }

/* Estilo para o lado direito */
.right-side {
  flex: 0 0 100vh; /* Ocupa todo o espaço restante */
  background-color: #434BE7; /* Cor de fundo */
  /* padding: 99px; Espaçamento interno */
  
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */

.img-container {
  width: 100%; /* Largura do contêiner de imagem */
}

 .img {
  position: fixed; /* Posição fixa */
  top: 10px; /* Distância do topo */
  left: 50px; /* Distância da esquerda */
  width: 315px; /* Largura da imagem */
  margin-top: 50px; /* Margem superior */
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */


h2 {
  font-size: 24px; /* Tamanho da fonte */
  color: #000000; /* Cor do texto */
  margin-top: 35px; /* Margem superior */
}

body {
  width: 100%; /* Largura total */
  height: 100vh; /* Altura de 100% da viewport */
  overflow-x: hidden; /* Esconde apenas a barra de rolagem horizontal */
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.digite-a-pergunta{
  color: #177da5;
  text-shadow:
    1.5px 1.5px 0 #000,
    -1.5px 1.5px 0 #000,
    -1.5px -1.5px 0 #000,
    1.5px -1.5px 0 #000;
  font-size: 30px;
  text-align: center;
  font-family: "Krona One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.respostas{
  align-items: center;
  margin-left: 5px;
}
.respostas-chat{
  
  width: 95%;
  margin-left: 5px;
  border: none;
  font-size: 15px;
  outline: none;
  border-radius: 10px;
  min-height: 100px;
  margin-top: 15px;
}

.perguntas-chat{
  padding-left: 10px;
  min-height: 50px;
  margin-top: 50px;
  width: 1000px;
  margin-right: 5px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  outline: 2%;
  outline-color: #415bf0;
}

.botao-perguntar{
  background-color: #ffffff; /* Cor de fundo */
  color: rgb(0, 0, 0); /* Cor do texto */
  padding: 5px 20px; /* Preenchimento */
  font-size: 16px; /* Tamanho da fonte */
  border: none; /* Sem borda*/
  cursor: pointer; /* Cursor de apontador */
  border-radius: 5px; /*Bordas arredondadas */
  transition: background-color 0.4s; /* Transição suave para a cor de fundo */
  margin-right: 10px;
  margin-left: 10px; /* Adiciona uma margem à direita para separar o botão do texto de localização */
}

.botao-perguntar:hover{
  background-color: #177da5;;
}


/*-----------------------------------------------------------------------------------------------------------------------------------------------/
*/
.botaolocaliza {
  background-color: #2b85fa; /* Cor de fundo */
  color: rgb(0, 0, 0); /* Cor do texto */
  padding: 5px 20px; /* Preenchimento */
  font-size: 16px; /* Tamanho da fonte */
  border: none; /* Sem borda */
  cursor: pointer; /* Cursor de apontador */
  border-radius: 5px; /* Bordas arredondadas */
  transition: background-color 0.3s; /* Transição suave para a cor de fundo */
  margin-right: 10px; /* Adiciona uma margem à direita para separar o botão do texto de localização */
}

.location {
  background-color: #2b85fa;
  font-size: 15px; /* Tamanho da fonte */
  line-height: 1.6; /* Altura da linha */
  max-width: 400px; /* Largura máxima */
  margin-top: 15px; /* Margem superior */
  color: #000000; /* Cor do texto */
  text-align: justify; /* Aplica justificação ao texto */
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */

/* ESTILO GERAL - sugestão  */
/* *{
  margin: 0;
  padding: 0;
  box-sizing:border-box ;
} */

 /* body{
  background-color: rgb(60, 31, 226);
  height: 100vh;
} */

#dicas-locais {
  margin-top: 250px;
}

.interface {
  max-width: 1280px;
  margin: 0 auto;
}

.flex {
  display: flex; /* Usar flexbox layout */
  gap: 20px; /* Define o espaço entre as caixas */
  margin-top: 150px; /* Margem superior */
}

.especialidades-box {
  background-color: #00062b; /* Cor de fundo para visualizar as caixas */
  padding: 0; /* Remove o espaçamento interno das caixas */
  border: 1px solid #177da5; /* Borda para visualizar as caixas */
  flex: 1; /* Permite que as caixas cresçam igualmente */
  border-radius: 20px; /* Bordas arredondadas */
  overflow: hidden; /* Esconde o conteúdo que ultrapassar as bordas */
  transition: .3s;
  margin-top: 45px;
}

.especialidades-box:hover {
  transform: scale(1.04);
  box-shadow: 0 0 10px #ffffff78;
}

.especialidades-box img {
  width: 100%; /* Ocupa 100% da largura da caixa */
  height: auto; /* Ajusta a altura automaticamente */
  display: block;
}

h2.titulo {
  color: #177da5;
  text-shadow:
    1.5px 1.5px 0 #000,
    -1.5px 1.5px 0 #000,
    -1.5px -1.5px 0 #000,
    1.5px -1.5px 0 #000;
  font-size: 30px;
  text-align: center;
  font-family: "Krona One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2.titulo span {
  color: #7385ec;
  margin: 10px;
}

h2.sub-titulo {
  color: #fff;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  text-align: center;
}

.section.dicas-locais {
  padding: 40px 4%;
}

.flex {
  gap: 60px;
}

.especialidades-box i {
  font-size: 70px;
  color: #08062e;
}

.especialidades-box h3 {
  text-align: center;
  font-size: 28px;
  margin: 15px 0;
  color: #fff;
  padding: 15px;
}

.especialidades-box p {
  margin-left: 1px;
  margin-right: 13px;
  text-align: left;
  padding: 15px;
  color: #fff;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Estilo para os atalhos */
.atalho1 {
  position: absolute; /* Posição absoluta */
  top: 25px; /* Distância do topo */
  margin-left: 45%;

  /* right: -30px; /Distância da direita/ */
}

.atalho2 {
  position: absolute; /* Posição absoluta */
  top: 25px; /* Distância do topo */
  margin-left: 65%;

  /* right: -30px; /Distância da direita/ */
}

.atalho1 button {
  align-items: center;
  margin-right:270px; /* Margem direita */
  padding: 2px; /* Preenchimento */
  border: none; /* Sem borda */
  background: none; /* Fundo transparente */
  font-size: 25px; /* Tamanho da fonte */
  cursor: pointer; /* Cursor de apontador */
  font-family: "Krona One", sans-serif;
  font-weight: 200;
  font-style: italic;/* Fonte */
  color: #177da5;
  text-shadow:
    1.5px 1.5px 0 #000,
    -1.5px 1.5px 0 #000,
    -1.5px -1.5px 0 #000,
    1.5px -1.5px 0 #000;
  transition: 0.4s; /* Transição suave */
} 

.atalho2 button {
  align-items: center;
  margin-right:270px; /* Margem direita */
  padding: 2px; /* Preenchimento */
  border: none; /* Sem borda */
  background: none; /* Fundo transparente */
  font-size: 25px; /* Tamanho da fonte */
  cursor: pointer; /* Cursor de apontador */
  font-family: "Krona One", sans-serif;
  font-weight: 200;
  font-style: italic;/* Fonte */
  color: #177da5;
  text-shadow:
    1.5px 1.5px 0 #000,
    -1.5px 1.5px 0 #000,
    -1.5px -1.5px 0 #000,
    1.5px -1.5px 0 #000;
  transition: 0.4s; /* Transição suave */
} 

.atalhos button:hover{
  color: #00ddff; /* Cor do texto ao passar o mouse */
  transition: 0.3s; /* Transição suave */
}

/* -------------------------------------------------------------------------------------------------------------------------------------------------*/
/* Estilo para o lado direito */
.right-side {
  flex: 0 0 80%; /* Ajuste conforme necessário */
  background-color: #434BE7; /* Cor de fundo */
  padding: 99px; /* Espaçamento interno */
}

/* Estilo para a seção "Sobre Nós" */
.about-us-section {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* /--------------------------------------TUTORIAL----------------------------------------/ */


/* Estilo para o título "Como a Wherever pode te ajudar?" */
/* Não é funcional */
.about-us-title {
  font-family: "Krona One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: white; /* Cor do texto */
  margin-bottom: 25px; /* Margem inferior */
  margin-top: 80px; /* Margem superior */
}

/* Estilo para a lista de etapas */
.steps {
  margin-top: 25px; /* Margem superior */
}

/* Estilo para cada etapa */
.step {
  display: flex; /* Flexbox para alinhar o número e o texto */
  align-items: baseline; /* Alinhar itens pela linha base */
  margin-bottom: 40px; /* Margem inferior entre as etapas */
}

/* Estilo para o número da etapa */
.step-number {
  font-family: "Krona One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px; /* Tamanho da fonte */
  color: #177da5;
  text-shadow:
    1.5px 1.5px 0 #000,
    -1.5px 1.5px 0 #000,
    -1.5px -1.5px 0 #000,
    1.5px -1.5px 0 #000;
  margin-right: 10px; /* Espaçamento à direita do número */
}

/* Estilo para o texto da etapa */
.step-text {
  font-family: "Montserrat", sans-serif;
  font-style: italic; /* Define a fonte */
  font-size: 20px; /* Tamanho da fonte */
  color: #ffffff; /* Cor do texto */
  text-align: justify; /* Justificação do texto */
}

/* /--------------------------------------TUTORIAL----------------------------------------/ */

/* Estilo para o parágrafo */
.paragrafo {
  font-size: 25px; /* Tamanho da fonte */
  line-height: 1.3; /* Altura da linha */
  max-width: 900px; /* Largura máxima */
  margin-top: 30px; /* Margem superior */
  color: #ffffff; /* Cor do texto */
  text-align: justify; /* Aplica justificação ao texto */
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;/* Define a fonte */
}

/* /estilo de todos os titulos/ */

.right-side h1 {
  color: #177da5;
  text-shadow:
    1.5px 1.5px 0 #000,
    -1.5px 1.5px 0 #000,
    -1.5px -1.5px 0 #000,
    1.5px -1.5px 0 #000;
  font-size: 30px;
  text-align: center;
  font-family: "Krona One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Estilo para o título "Quem nós somos?"
.quemsomos-title {
  font-family: "Times New Roman", serif; /* Define a fonte 
  font-size: 25px; /* Tamanho da fonte 
  color: #ff0000; /* Cor do texto 
} */

/* Estilo para a seção "Quem nós somos" */
#quemsomos-section {
  padding-top: 50px; /* Espaçamento superior */
  margin-top: 350px; /* Margem superior */
}

/* Estilo para o parágrafo "Quem nós somos, afinal?" */
.quemsomos {
  font-size: 25px; /* Tamanho da fonte */
  line-height: 1.3; /* Altura da linha */
  max-width: 1500px; /* Largura máxima */
  margin-top: 30px; /* Margem superior */
  margin-right: 10px;
  color: #ffffff; /* Cor do texto */
  text-align: justify; /* Aplica justificação ao texto */
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: italic;
  font-size: 25px;
  
}
.about-us-section{
  margin-top: 50px;
  margin-bottom: 250px;
}

html {
  scroll-behavior: smooth; /* Comportamento de rolagem suave */
}

.flutuante {
  animation: flutuar 1s ease-in-out infinite alternate;
}

.imagens-box{
  margin: 0;
}

@media screen and (max-width: 1020px) {
  .imgWherever {
    display: none; 
  }
  .imgGlobo {
    display: none;
  }
  .atalho2{
    display: none;
  }
  .atalho1{
    display: none;
  }
}

@keyframes flutuar {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
};