/* Estilo para a divisão da página */
.container {
  display: flex;
  min-height: 100vh; /* Alterado para altura mínima de 100% da altura da viewport */
}

/* Estilo para o lado esquerdo */
.left-side {
  flex: 0 0 70vh;
  background-color: #ffffff;
  padding: 16px;
}

/* Estilo para o lado direito */
.right-side {
  flex: 0 0 100vh;
  background-color: #434BE7;
  padding: 99px;
}

.img-container {
  width: 50%;
}

img  {
  position: fixed;
  top: 10px;
  left: 50px;
  width: 315px;
  margin-top: 50px;
}

.footer-image img {
  height: auto; /* Mantém a proporção original da imagem */
  top: 200px;
  left: 800px;
  width: 200px;
  margin-top: 210px;
}


.container img:nth-child(2) {
  position: fixed;
  top: 50px;
  left: 90px;
  margin-top: 100px;
  width: 200px;
  height: auto;
}

h2 {
  font-size: 24px;
  color: #000000;
  margin-top: 35px;
}

body {
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  overflow-x: hidden; /* Esconde apenas a barra de rolagem horizontal */
}

/* Estilo para os atalhos */
.atalhos {
  position: absolute;
  top: 40px;
  right: 75px;
}

.atalhos button {

  margin-right: 70px;
  padding: 2px;
  border: none;
  background: none;
  font-size: 18px;
  color: #000000;
  cursor: pointer;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.atalhos button:hover{
  color: white;
  transition: 0.3s;
}

/* Estilo para o parágrafo */
.paragrafo {
  font-size: 15px;
  line-height: 1.6;
  max-width: 400px;
  margin-top: 30px;
  color: #000000; /* Adicionado para garantir a cor do texto */
}

/* Estilo para o título "Como a Wherever pode te ajudar?" */
.right-side h1 {
  font-size: 24px;
  color: #000000; /* Alterado para a cor do texto ser branca */
  margin-bottom: 10px;
  margin-top: 35px; /* Ajustando a altura do elemento */
}

/* Estilo para o título "Quem nós somos, afinal?" */
.quemsomos-title {
  font-size: 24px;
  color: #000000; /* Alterado para a cor do texto ser branca */
}

/* Estilo para a seção "Quem nós somos" */
.quemsomos-section {
  padding-top: 50px; /* Ajustado conforme necessário */
  margin-top: 180px; /* Ajustando a altura do elemento */
}

/* Estilo para o parágrafo "Quem nós somos, afinal?" */
.quemsomos {
  font-size: 15px;
  line-height: 1.6;
  max-width: 400px;
  margin-top: 30px;
  color: #000000; /* Alterado para a cor do texto ser branca */
}

