/* Estilo para a divisão da página */
.container {
  display: flex;
  height: 100vh; /* altura total da tela */
}

/* Estilo para o lado esquerdo */
.left-side {
  flex: 0 0 35%; /* Flex basis de 35%, não pode crescer nem encolher */
  background-color: #ffffff; /* Cor de fundo do lado esquerdo */
  padding: 16px;
  height: 254%; /* altura total da tela */
  
}

/* Estilo para o lado direito */
.right-side {
  flex: 0 0 65%; /* Flex basis de 65%, não pode crescer nem encolher */
  background-color: #434BE7; /* Cor de fundo do lado direito */
  padding: 99px;
  height: 180%; /* altura total da tela */
}
.img-container {
  width: 50%; /* largura do contêiner */
}

img  {
  position: fixed; /* Define a posição fixa */
  top: 30px; /* Ajusta a distância do topo da janela */
  left: 50px; /* Ajusta a distância da esquerda da janela */
  width: 315px; /* Define a largura desejada */
  height: auto; /* Mantém a proporção original da imagem */
}

.container img:nth-child(2) {
  position: fixed; /* Define a posição fixa */
  top: 50px; /* Ajusta a distância do topo da janela */
  left: 90px; /* Ajusta a distância da esquerda da janela */
  margin-top: 100px;
  width: 200px; /* Define a largura desejada */
  height: auto; /* Mantém a proporção original da imagem */
}

h2 {
  /* Estilos para todos os elementos h2 */
  font-size: 24px; /* Define o tamanho da fonte */
  color: #000000; /* Define a cor do texto */
  margin-top: 35px; /* Ajusta a margem superior para mover o texto para baixo */
  /* Outros estilos desejados */
}

body {
  width: 100vw; /* Define a largura da página como 100% da largura da janela do navegador */
  height: 100vh; /* Define a altura da página como 100% da altura da janela do navegador */
  min-height: 120vh; /* Define uma altura mínima de 120% da altura da janela do navegador */
}

/* Estilo para os atalhos */
.atalhos {
  position: absolute; /* Posiciona os botões em relação ao elemento pai */
  top: 40px; /* Define a distância do topo do elemento pai */
  right: 75px; /* Define a distância da direita do elemento pai */
}

.atalhos button {
  margin-right: 70px;
  padding: 2px;
  border: none;
  background: none;
  font-size: 18px;
  color: #000000;
  cursor: pointer;
  font-family:Georgia, 'Times New Roman', Times, serif; /* Altera a fonte para Arial ou a fonte padrão sans-serif */
}
.atalhos button:hover{
  color: white;
  transition: 0.3s;
}
/* Estilo para o parágrafo */
.paragrafo {
  font-size: 15px; /* Define o tamanho do texto para 16 pixels */
  line-height: 1.6; /* Define o espaçamento entre as linhas para 1.2 vezes o tamanho da fonte */
  max-width: 400px; /* Define a largura máxima do parágrafo */
  margin-top: 30px; /* Ajusta a margem superior para mover o texto para baixo */
}

/* Estilo para o título "Como a Wherever pode te ajudar?" */
.right-side h1 {
  font-size: 24px; /* Define o tamanho da fonte */
  color: #000000; /* Cor do texto */
  margin-bottom: 10px; /* Espaçamento abaixo do título */
}

/* Estilo para a seção "Quem nós somos" */
.quemsomos-section {
  padding-top: 350px; /* Espaço acima do conteúdo */
}

/* Estilo para o título "Quem nós somos, afinal?" */
.quemsomos-title {
  font-size: 24px; /* Define o tamanho da fonte */
  color: #000000; /* Cor do texto */
}

/* Estilo para o parágrafo "Quem nós somos, afinal?" */
.quemsomos {
  font-size: 15px; /* Define o tamanho do texto */
  line-height: 1.6; /* Define o espaçamento entre as linhas */
  max-width: 400px; /* Define a largura máxima do parágrafo */
  margin-top: 30px; /* Ajusta a margem superior */
}
